.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline .timeline__item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline__item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline__item--left {
    left: 0;
}

.timeline__item--left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 22px;
    border: medium solid red;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent red;
}

.timeline__item--right {
    left: 50%;
}

.timeline__item--right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 22px;
    border: medium solid red;
    border-width: 10px 10px 10px 0;
    border-color: transparent red transparent transparent;
}

.timeline__item--right::after {
    left: -16px;
}

.timeline__item__content {
    padding: 30px;
    position: relative;
    border-radius: var(--radius);
    background-color: white;
    border: 1px solid var(--dark-gray);
}

.timeline__item__content img {
    width: 42px;
    border-radius: var(--radius);
}

.timeline__item__content p {
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .timeline__item {
        width: 100% !important;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline__item__content {
        left: 30px;
    }

    .timeline__item--left::before, .timeline__item--right::before {
        left: 52px;
        border: medium solid red;
        border-width: 10px 10px 10px 0;
        border-color: transparent red transparent transparent;
    }

    .timeline__item--left::after, .timeline__item--right::after {
        left: 15px;
    }

    .timeline__item--right {
        left: 0%;
    }
}